Repository abheekga/openvino.genai_updated, changes with the labels that .github/labeler.yml gives for each.
All labels: category: GHA, category: tokenizers, category: LLM, category: samples, category: whisper, category: Python API, category: visual language, category: speculative decoding, category: continuous batching, category: cmake / build, category: text to image, category: GenAI C++ API, category: llm_bench, category: WWB

Try to build the model template manually
  samples/python/text_generation/chat_sample_custom_template.py
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/tokenizer/llm_styler.cpp
  src/cpp/src/tokenizer/llm_styler.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: tokenizers, category: samples, category: GenAI C++ API

Extend using of full chat history mode for stateful pipeline for VLM and encoded LLM
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi4mm/classes.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

for test
  src/cpp/src/llm/pipeline_stateful.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

Switch NPU Whisper to ov::genai::WhisperStatefulImpl
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/pipeline.cpp
Labels: category: whisper

Update Whisper stateful pipeline for NPU
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/decoder.hpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/pipeline.cpp
  src/cpp/src/whisper/whisper.cpp
Labels: category: whisper

Fixes for Whisper stateful/static pipelines
  src/cpp/src/whisper/pipeline_static.cpp
  src/cpp/src/whisper/whisper.cpp
Labels: category: whisper

Fix whisper decoder config
  src/cpp/src/utils.cpp
  src/cpp/src/whisper/pipeline.cpp
Labels: category: whisper

Add cmake target creation helpers
  CMakeLists.txt
  cmake/add_target_helpers.cmake
  cmake/global_properties.cmake
  samples/CMakeLists.txt
  samples/c/text_generation/CMakeLists.txt
  samples/c/whisper_speech_recognition/CMakeLists.txt
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/rag/CMakeLists.txt
  samples/cpp/speech_generation/CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/visual_language_chat/CMakeLists.txt
  samples/cpp/whisper_speech_recognition/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/python/CMakeLists.txt
  tests/cpp/CMakeLists.txt
  thirdparty/CMakeLists.txt
  tools/continuous_batching/accuracy/CMakeLists.txt
  tools/continuous_batching/benchmark/CMakeLists.txt
Labels: category: samples, category: Python API, category: cmake / build

Fix attention mask pass for whisper (static)
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: whisper

.github/labeler.yml:

'category: GHA':
- '.github/**/*'

'category: tokenizers':
- 'src/cpp/include/openvino/genai/tokenizer.hpp'
- 'src/cpp/src/tokenizer/**/*'
- 'thirdparty/openvino_tokenizers'
- 'tests/python_tests/tokenizer_configs.py'

'category: LLM':
- 'src/cpp/include/openvino/genai/llm_pipeline.hpp'
- 'src/cpp/src/llm_pipeline.cpp'
- 'src/cpp/src/greedy_decoding.cpp'
- 'src/cpp/src/group_beam_searcher.cpp'
- 'src/cpp/src/multinomial_decoding.cpp'
- 'src/cpp/src/llm_pipeline_base.hpp'
- 'src/cpp/src/llm_pipeline_static.hpp'
- 'src/cpp/src/llm_pipeline_static.cpp'
- 'src/python/py_llm_pipeline.cpp'
- 'tests/python_tests/test_generate_api.py'
- 'tests/python_tests/test_chat_generate_api.py'

'category: sampling':
- 'src/cpp/include/openvino/genai/generation_config.hpp'
- 'src/cpp/src/generation_config.cpp'
- 'src/cpp/src/continuous_batching/sampler.hpp'
- 'src/cpp/src/continuous_batching/sampler.cpp'
- 'src/cpp/src/continuous_batching/logit_processor.hpp'
- 'tests/cpp/logit_filtering.cpp'
- 'tests/cpp/generate_config.cpp'
- 'tests/cpp/sampler.cpp'

- 'category: LoRA':
- 'src/cpp/include/openvino/genai/lora_adapter.hpp'
- 'src/cpp/src/lora/**/*'

'category: samples':
- 'samples/**/*'

'category: whisper':
- 'src/cpp/include/openvino/genai/whisper_generation_config.hpp'
- 'src/cpp/include/openvino/genai/whisper_pipeline.hpp'
- 'src/cpp/src/whisper/**/*'
- 'src/cpp/src/whisper_generation_config.cpp'
- 'src/cpp/src/whisper_pipeline.cpp'
- 'src/python/py_whisper_pipeline.cpp'
- 'tests/python_tests/test_whisper_generate_api.py'

'category: Python API':
- 'src/python/**/*'

'category: visual language':
- 'src/include/openvino/genai/visual_language/**/*'
- 'src/cpp/src/visual_language/**/*'
- 'src/python/py_vlm_pipeline.cpp'
- 'tests/python_tests/test_vlm_api.py'

'category: speculative decoding':
- 'src/cpp/src/speculative_decoding/**/*'
- 'tests/cpp/speculative_decoding.cpp'

'category: continuous batching':
- 'src/cpp/include/openvino/genai/cache_eviction.hpp'
- 'src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp'
- 'src/cpp/include/openvino/genai/generation_handle.hpp'
- 'src/cpp/include/openvino/genai/scheduler_config.hpp'
- 'src/cpp/src/continuous_batching/**/*'
- 'tests/python_tests/test_cache_optimizations.py'
- 'tests/python_tests/test_preemption.py'
- 'tests/python_tests/test_sampling.py'
- 'tests/cpp/block_allocator.cpp'
- 'tests/cpp/block_hash_store.cpp'
- 'tests/cpp/block_manager.cpp'
- 'tests/cpp/cache_manager.cpp'
- 'tests/cpp/device_config.cpp'
- 'tests/cpp/scheduler.cpp'

'category: cmake / build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'
- 'pyproject.toml'

'category: text to image':
- 'src/include/openvino/genai/text2image/**/*'
- 'src/cpp/src/text2image/**/*'

'category: GenAI C++ API':
- 'src/cpp/include/openvino/genai/**/*'

'category: llm_bench':
- 'tools/llm_bench/**/*'
- '.github/workflows/llm_bench-python.yml'

'category: WWB':
- 'tools/who_what_benchmark/**/*'
