Repository abheekga/openvino.genai_updated, changes with the labels that .github/labeler.yml gives for each.
All labels: category: GHA, category: tokenizers, category: text streamer, category: LLM, category: visual language, category: sampling, category: LoRA, category: LLM samples, category: Whisper samples, category: Image generation samples, category: VLM samples, category: whisper, category: image generation, category: speculative decoding, category: prompt lookup, category: continuous batching, category: GGUF, category: cmake / build, category: Python API, category: C++ API, category: C API, category: JS API, category: llm_bench, category: WWB, category: GH Pages Docs

Try to build the model template manually
  samples/python/text_generation/chat_sample_custom_template.py
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/tokenizer/llm_styler.cpp
  src/cpp/src/tokenizer/llm_styler.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: tokenizers, category: LLM, category: LLM samples, category: C++ API

Extend using of full chat history mode for stateful pipeline for VLM and encoded LLM
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi4mm/classes.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: LLM, category: visual language

for test
  src/cpp/src/llm/pipeline_stateful.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: LLM, category: visual language

Switch NPU Whisper to ov::genai::WhisperStatefulImpl
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/pipeline.cpp
Labels: category: whisper

Update Whisper stateful pipeline for NPU
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/decoder.hpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/pipeline.cpp
  src/cpp/src/whisper/whisper.cpp
Labels: category: whisper

Fixes for Whisper stateful/static pipelines
  src/cpp/src/whisper/pipeline_static.cpp
  src/cpp/src/whisper/whisper.cpp
Labels: category: whisper

Fix whisper decoder config
  src/cpp/src/utils.cpp
  src/cpp/src/whisper/pipeline.cpp
Labels: category: whisper

Add cmake target creation helpers
  CMakeLists.txt
  cmake/add_target_helpers.cmake
  cmake/global_properties.cmake
  samples/CMakeLists.txt
  samples/c/text_generation/CMakeLists.txt
  samples/c/whisper_speech_recognition/CMakeLists.txt
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/rag/CMakeLists.txt
  samples/cpp/speech_generation/CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/visual_language_chat/CMakeLists.txt
  samples/cpp/whisper_speech_recognition/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/python/CMakeLists.txt
  tests/cpp/CMakeLists.txt
  thirdparty/CMakeLists.txt
  tools/continuous_batching/accuracy/CMakeLists.txt
  tools/continuous_batching/benchmark/CMakeLists.txt
Labels: category: LLM samples, category: Whisper samples, category: Image generation samples, category: VLM samples, category: cmake / build, category: Python API

Fix attention mask pass for whisper (static)
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: whisper

.github/labeler.yml:

'category: GHA':
- '.github/**/*'

'category: tokenizers':
- 'src/cpp/include/openvino/genai/tokenizer.hpp'
- 'src/cpp/src/tokenizer/**/*'
- 'src/python/py_tokenizer.cpp'
- 'thirdparty/openvino_tokenizers'
- 'tests/python_tests/data/tokenizer_configs.py'
- 'tests/python_tests/test_tokenizer.py'

'category: text streamer':
- 'src/cpp/include/openvino/genai/text_streamer.hpp'
- 'src/cpp/include/openvino/genai/streamer_base.hpp'
- 'src/cpp/src/text_streamer.cpp'
- 'src/cpp/src/continuous_batching/threaded_streamer.hpp'
- 'src/python/py_streamers.cpp'
- 'tests/python_tests/test_text_streamer.py'

'category: LLM':
- 'src/cpp/include/openvino/genai/llm_pipeline.hpp'
- 'src/cpp/src/llm/**/*'
- 'src/cpp/src/lm_encoding.hpp'
- 'src/cpp/src/lm_encoding.cpp'
- 'src/python/py_llm_pipeline.cpp'
- 'tests/python_tests/test_llm_pipeline.py'

'category: visual language':
- 'src/include/openvino/genai/visual_language/**/*'
- 'src/cpp/src/visual_language/**/*'
- 'src/cpp/src/lm_encoding.hpp'
- 'src/cpp/src/lm_encoding.cpp'
- 'src/python/py_vlm_pipeline.cpp'
- 'tests/python_tests/test_vlm_pipeline.py'

'category: sampling':
- 'src/cpp/include/openvino/genai/generation_config.hpp'
- 'src/cpp/src/generation_config.cpp'
- 'src/cpp/src/sampling/**/*'
- 'src/python/py_generation_config.cpp'
- 'tests/cpp/logit_filtering.cpp'
- 'tests/cpp/generate_config.cpp'
- 'tests/cpp/sampler.cpp'
- 'tests/python_tests/test_sampling.py'

'category: LoRA':
- 'src/cpp/include/openvino/genai/lora_adapter.hpp'
- 'src/cpp/src/lora/**/*'
- 'src/python/py_lora_adapter.cpp'

'category: LLM samples':
- 'samples/c/text_generation/**/*'
- 'samples/cpp/text_generation/**/*'
- 'samples/js/text_generation/**/*'
- 'samples/python/text_generation/**/*'

'category: Whisper samples':
- 'samples/cpp/whisper_speech_recognition/**/*'
- 'samples/python/whisper_speech_recognition/**/*'

'category: Image generation samples':
- 'samples/cpp/image_generation/**/*'
- 'samples/python/image_generation/**/*'

'category: VLM samples':
- 'samples/cpp/visual_language_chat/**/*'
- 'samples/python/visual_language_chat/**/*'

'category: whisper':
- 'src/cpp/include/openvino/genai/whisper_generation_config.hpp'
- 'src/cpp/include/openvino/genai/whisper_pipeline.hpp'
- 'src/cpp/src/whisper/**/*'
- 'src/python/py_whisper_pipeline.cpp'
- 'tests/python_tests/test_whisper_pipeline.py'
- 'tests/python_tests/test_whisper_pipeline_static.py'

'category: image generation':
- 'src/include/openvino/genai/image_generation/**/*'
- 'src/cpp/src/image_generation/**/*'
- 'src/python/py_image_generation_models.cpp'
- 'src/python/py_image_generation_pipelines.cpp'

'category: speculative decoding':
- 'src/cpp/src/speculative_decoding/**/*'
- 'tests/cpp/speculative_decoding.cpp'

'category: prompt lookup':
- 'src/cpp/src/prompt_lookup/**/*'

'category: continuous batching':
- 'src/cpp/include/openvino/genai/cache_eviction.hpp'
- 'src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp'
- 'src/cpp/include/openvino/genai/generation_handle.hpp'
- 'src/cpp/include/openvino/genai/scheduler_config.hpp'
- 'src/cpp/src/continuous_batching/**/*'
- 'src/python/py_continuous_batching_pipeline.cpp'
- 'tests/python_tests/test_continuous_batching.py'
- 'tests/python_tests/test_kv_cache_eviction.py'
- 'tests/cpp/block_allocator.cpp'
- 'tests/cpp/block_hash_store.cpp'
- 'tests/cpp/block_manager.cpp'
- 'tests/cpp/cache_eviction.cpp'
- 'tests/cpp/cache_manager.cpp'
- 'tests/cpp/scheduler.cpp'

'category: GGUF':
- 'src/cpp/src/gguf_utils/**/*'

'category: cmake / build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'
- 'pyproject.toml'

'category: Python API':
- 'src/python/**/*'

'category: C++ API':
- 'src/cpp/include/openvino/genai/**/*'

'category: C API':
- 'src/c/**/*'
- 'src/samples/c/**/*'

'category: JS API':
- 'src/js/**/*'
- 'src/samples/js/**/*'

'category: llm_bench':
- 'tools/llm_bench/**/*'
- '.github/workflows/llm_bench-python.yml'

'category: WWB':
- 'tools/who_what_benchmark/**/*'

'category: GH Pages Docs':
- 'site/**/*'
